.cartProduct{
border: 1px solid #dddddd;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 173px;
    width: 100%;
}
#disableremove{
    cursor: not-allowed;
    pointer-events: none;
    background: #c0c3c5;
}